<div th:fragment="scrolls">
    <div class="elementor-widget-wrap elementor-element-populated">
        <div class="elementor-element elementor-element-1ab144c elementor-widget elementor-widget-heading" data-id="1ab144c" data-element_type="widget" data-widget_type="heading.default">
            <div class="elementor-widget-container">
                <h2 class="elementor-heading-title elementor-size-default">Skills</h2> </div>
        </div>
        <div class="elementor-element elementor-element-076af10 elementor-widget elementor-widget-progress" data-id="076af10" data-element_type="widget" data-widget_type="progress.default">
            <div class="elementor-widget-container">
<span class="elementor-title">
JavaScript </span>
                <div class="elementor-progress-wrapper" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="85">
                    <div class="elementor-progress-bar" data-max="85" style="width: 85%;">
                        <span class="elementor-progress-text"></span>
                        <span class="elementor-progress-percentage">85%</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="elementor-element elementor-element-742d05d elementor-widget elementor-widget-progress" data-id="742d05d" data-element_type="widget" data-widget_type="progress.default">
            <div class="elementor-widget-container">
<span class="elementor-title">
PHP </span>
                <div class="elementor-progress-wrapper" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="95">
                    <div class="elementor-progress-bar" data-max="95" style="width: 95%;">
                        <span class="elementor-progress-text"></span>
                        <span class="elementor-progress-percentage">95%</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="elementor-element elementor-element-0a1e9fd elementor-widget elementor-widget-progress" data-id="0a1e9fd" data-element_type="widget" data-widget_type="progress.default">
            <div class="elementor-widget-container">
<span class="elementor-title">
Python </span>
                <div class="elementor-progress-wrapper" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="75">
                    <div class="elementor-progress-bar" data-max="75" style="width: 75%;">
                        <span class="elementor-progress-text"></span>
                        <span class="elementor-progress-percentage">75%</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="elementor-element elementor-element-16d06e2 elementor-widget elementor-widget-progress" data-id="16d06e2" data-element_type="widget" data-widget_type="progress.default">
            <div class="elementor-widget-container">
<span class="elementor-title">
Photoshop </span>
                <div class="elementor-progress-wrapper" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="80">
                    <div class="elementor-progress-bar" data-max="80" style="width: 80%;">
                        <span class="elementor-progress-text"></span>
                        <span class="elementor-progress-percentage">80%</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>